
{% extends "layout.html" %}

{% block page_title %}{{ news.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ news.title }}</h1>

                <p class="lead">
                    Reported at {{ news.report_time }}</a>
                </p>
                <hr>
                <p>Topics: {% for t in news.topics %} <a href="{{url_for('news.topic_page', topic=t.topic, page=0)}}">{{ t.topic }}{% endfor %}</a></p>
                <hr>
                {% for sentence in news.content.split("\n") %}
                <p>{{ sentence }}</p>
                {% endfor %}
                <hr>
                <ul class="pager">
                <li class="previous">
                    <a href="{{ url_for('news.news_detail', pk=news.id-1) }}">&larr; Last</a>
                </li>
                {% if not max_index %}
                    <li class="next">
                        <a href="{{ url_for('news.news_detail', pk=news.id+1) }}">Next &rarr;</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <div class="col-md-4">
                <br><br>

                <div class="well">
                    <h4>About</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                        accusamus
                        laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
                <div class="well">
                    <h4>Hot Topics</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for hot_t in hot_topics %}
                                <li><a href="{{ url_for('news.topic_page', topic=hot_t[0], page=0) }}">{{ hot_t[0] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
